.detail-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;

  .detail-intro {
    display: inline-flex;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
  }
  
  

  .detail-box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }
  .detail-name {
    display: block;
  }

  .detail-msg {
    display: inline-block;
    width: 50%;
  }

  .detail-start {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
    
  }

  .detail-fee {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
  }

  .detail-speed {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }


  .datail-rate {

  }

  span {
    display: block;
    margin-bottom: 20px;
  }
}

.detail-goods {
  margin-top: 50px;
  width: 100%;

  .detail-item {
    display: flex;
    margin-top: 15px;
  }
 
  .detail-goodbox {
    width: calc(100% - 120px);

    .detail-goodname {
      font-weight: bold;
      color: black;
    }
    
    .detail-gooddesc {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
    }

    .detail-goodrate {
      font-size: 2px;
      cursor: pointer;
    }
  
    .ant-rate-star {
      margin-right: 1px;
    }

    .detail-goodprice {
      display: block;
      color: rgb(255, 0, 35);
      font-weight: bold;
    }
  }
}

.detail-avatar {
  display: block;
  margin: auto 20px auto 0;
}



