.detail-header {
  // display: table;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;

  .detail-intro {
    display: inline-flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 50%;
  }
  
  .detail-avatar {
    display: block;
    margin: auto 20px auto 0;
    // margin-right: 20px;
  }

  .detail-box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }
  .detail-name {
    display: block;
  }

  .detail-msg {
    display: inline-block;
    width: 50%;
  }

  .detail-start {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
    
  }

  .detail-fee {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
  }

  .detail-speed {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }


  .datail-rate {

  }
}
span {
  display: block;
  margin-bottom: 20px;
}