// .ant-steps-item-icon {
//   background: rgb(251, 249, 0)
// }

.ant-steps-item-process .ant-steps-item-icon {
  background: rgb(251, 249, 0);
  border-color: rgb(251, 249, 0);
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: #1890ff;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background: rgb(251, 249, 0);
  border-color: rgb(251, 249, 0);
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: #1890ff;
}

.order-fee-box {
  padding: 16px;

  .order-fee {
    float: right;
  }
}

.order-total-fee {
  color: #FF0023;
  text-align: right;
  padding-right: 16px;
  line-height: 1;

  .order-total-sign {
    font-size: 30px;
  }

  .order-total-number {
    font-size: 50px;
  }
}

.order-total-goods {
  text-align: right;
  padding-right: 16px;
}
