.store-item {
  padding: 20px;

  .store-avatar {
    display: block;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }

  .store-time {
    display: block;
    text-align: center;
    font-size: 12px;
  }

  .store-fee {
    display: block;
    font-size: 10px;
  }

  .store-rate {
    width: 100%;
    font-size: 1px;
    letter-spacing: 1rem;
  }
}